lab3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="gaming">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="userid"/>
              <xs:element type="xs:string" name="username"/>
              <xs:element type="xs:string" name="useraddress"/>
              <xs:element type="xs:long" name="userno"/>
              <xs:element type="xs:string" name="userinterest"/>
              <xs:element type="xs:string" name="role"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>